/* start at mobile size and work from there */
main {
  width: 95%;
  margin: 0 auto;
}

main > div {
  display: inline-block;
}

/* MOBILE FIRST- WRITE THE RULES FOR HANDHELD FIRST */
.box1 {
  background-color: gold;
  width: 100%;
  height: 300px;
  display: block;

}

.box2 {
  background-color: lightblue;
  width: 100%;
  height: 300px;
  display: block;
}

.description {
  display: none;
}

.imageContainer {
  width: 100%;
  display: inline-block;
}

img, video, object embed {
  max-width: 100%;
}

/* this is a basic media query */

/* change the layout when we're viewing the app on a phone */
/*
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .box1 {
    background-color: pink;}
} */
@media screen and (min-width: 376px) {
  .box1 {
    background-color: dodgerblue;
    display: inline-block;
    width: 48%;
  }

  .box2 {
    background-color: magenta;
    display: inline-block;
    width: 48%;
  }
}

@media screen and (min-width: 768px) {
  .box1 {
    background-color: green;
    display: inline-block;
    width: 65%;
  }

  .box2 {
    display: none;
  }

  .description {
    display: block;
  }

  .imageContainer {
    width: 30%;
    display: inline-block;
  }
}
