/* start at mobile size and work from there */
main {
  width: 95%;
  margin: 0 auto;
}

main > div {
  display: inline-block;
}

.box1 {
  background-color: gold;
  width: 48%;
  height: 300px;

}

.box2 {
  background-color: lightblue;
  width: 48%;
  height: 300px;
}

/* this is a basic media query */

/* change the layout when we're viewing the app on a phone */
/*
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .box1 {
    background-color: pink;}
} */
